# IBM Watson Natural Language Understanding
IBM_NLU_API_KEY=your_ibm_cloud_api_key
IBM_NLU_URL=https://api.us-south.natural-language-understanding.watson.cloud.ibm.com/instances/your-instance-id
IBM_NLU_VERSION=2022-08-10
